body{
    display:flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
    padding: 8px;
}

#display{
    background-color: #1C1C1C;
    color: white;
    text-align: right;
    font-size: 90px;
    max-width: 100%;
    border: none;
    box-sizing: border-box;
}

#buttons button{
    background-color:#505050;
    color: white;
    text-align: center;
    font-size: 36px;
    width:80px;
    height:80px;
    border-radius: 40px;
    border: none;
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background:#1C1C1C;
    width: 400px;
    max-width: 400px;
    padding: 60px 5px 0px 5px
}

#buttons button:hover{
    opacity: 70%;
}

#buttons button:active{
    opacity: 90%;
}