body{
    display:flex;
    justify-content:center;
    align-items: center;
}
#calculator{
    background-color: #1C1C1C;
    max-width:400px;
}
#display{
    background-color: #1C1C1C;
    color:white;
    font-size: 60px;
    text-align: right;
    max-width:100%;
    border:none;
    box-sizing: border-box;
}
#buttons{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
    padding: 8px;
}
#buttons button {
    background-color: #505050;
    color: white;
    border-radius: 40px;
    border: none;
    width: 80px;
    max-width: 400px;
    max-height: 400px;
    height: 80px;
    font-size: 36px;
}
#buttons button:hover{opacity:70%}
#buttons button:active{opacity:90%}