body{
    display:flex;
    justify-content: center;
    align-items: center;
}
#calculator{
    background-color: #1C1C1C;
    max-width:400px;
}
#display{
    background-color:#1C1C1C;
    width:100%;
    border:none;
    font-size: 60px;
    text-align:right;
    box-sizing: border-box;
    color:white;
}
#buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:8px;
    padding:8px;
}
#buttons button{
    background-color: #505050;
    color:white;
    width:80px;
    max-width:80px;
    font-size:36px;
    border-radius: 40px;
    height:80px;
    border:none;
}
#buttons button:hover{opacity:70%;}
#buttons button:active{opacity:90%}